# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# NOTE: YOU WOULD USUALLY ADD .env HERE!!!
# For the sake of class example we do not ignore it
# but NEVER
# EVER
# push .env files to GitHub...
# .env